<!DOCTYPE html>
<html lang='en'>
<head>
  <link rel="stylesheet" href="css/Him.css">
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>TRIPZA</title>
</head>
<body>
  <!-- Load an icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">TRIPZA</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
    </ul>
    <form class="navbar-form navbar-left" action="/action_page.php">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" name="search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

  <h1>Himachal Tour Packages</h1>
  <p style="text-align: justify;">The picturesque state of Himachal Pradesh is nestled between the snow topped Himalayan ranges in North India. Known
    for its panoramic landscapes, this spectacular paradise is blessed with lofty snow peaks, deep gorges, verdant valleys, thundering rivers, enchanting mountain lakes, flower carpeted meadows, ancient temples, and magnificent monasteries steeped in time, and your Himachal tourism package will combine this and more. Dotted with numerous hill stations, Himachal Pradesh is truly a slice of heaven on earth.</p>
  <div class = "all_packages_list" >
    <table class="tabletripza"; border="1">
      <thead >
      <tr style="visibility: collapse;" style="text-align: center; color: white;" bgcolor="#ED1C24">
      <th>Images</th>
      <th style="text-align: center;">Himachal Tour Packages</th>
      <th style="text-align: center;">No. of Days</th>
      <th style="text-align: center;">Price*</th>
      </tr>
      <tr>
      <td><img src="images/dharamshala5.jpg"/></td>
      <td><b>
        Grand Himachal with Amritsar</b> <hr><br> Shimla (2N)→Manali (3N)→Dharamshala (2N)→Dalhousie (2N) <hr>
        <br> Group Holidays <br>
        <div class="row">
          <div class="column">
            <img src="\Images\Highlights.png">
            Highlights
          </div>
          <div class="column">
            <img src="\Images\Hotel.png"><br>
            Hotels
          </div>
          <div class="column">
            <img src="\Images\Sight Seeing.png">
            Sightseeing
          </div>
          <div class="column">
            <img src="\Images\Meals.png"><br>
            Meals
          </div>
        </div>
      </td>
      <td style="text-align: center; vertical-align: middle;">11 Nights
        12 Days</td>
      <td class="type"; style="text-align: center; vertical-align: middle;">Tour Type : Deluxe <br> Rs. 54 990.00<br>
        <a href="enq"><button type="button">ENQUIRY</button></a> 
      </td>
      </tr>
      <tr>
      <td><img src="images/himachal.jpg"/></td>
      <td><b>Heavenly Himachal - Land Only (BUY 1 GET 1 FREE) </b> <hr> <br> Shimla (2N)→Manali (3N)→Chandigarh (1N) <hr>
        <br> Group Holidays <br>
        <div class="row">
          <div class="column">
            <img src="\Images\Highlights.png">
            Highlights
          </div>
          <div class="column">
            <img src="\Images\Hotel.png"><br>
            Hotels
          </div>
          <div class="column">
            <img src="\Images\Sight Seeing.png">
            Sightseeing
          </div>
          <div class="column">
            <img src="\Images\Meals.png"><br>
            Meals
          </div>
        </div>
      </td>
      <td style="text-align: center; vertical-align: middle;">6 Nights 7 Days</td>
      <td class="type"; style="text-align: center; vertical-align: middle;">Tour Type : Standard <br>Rs. 34 990.00<br>
        <a href="enq"><button type="button">ENQUIRY</button></a> </td>
      </tr>
      <tr>
      <td><img src="images/Shimla.jpg"/></td>
      <td><b>Himachal Luxury Retreat - Honeymoon Special</b> <hr> <br> Shimla (2N)→Manali (3N)→Chandigarh (1N) <hr>
        <br> Customized Holidays <br>
        <div class="row">
          <div class="column">
            <img src="\Images\Highlights.png">
            Highlights
          </div>
          <div class="column">
            <img src="\Images\Hotel.png"><br>
            Hotels
          </div>
          <div class="column">
            <img src="\Images\Sight Seeing.png">
            Sightseeing
          </div>
          <div class="column">
            <img src="\Images\Meals.png"><br>
            Meals
          </div>
        </div>
      </td>
      <td style="text-align: center; vertical-align: middle;">6 Nights 7 Days</td>
      <td class="type"; style="text-align: center; vertical-align: middle;">Tour Type : Standard <br>Rs. 78 900<br>
        <button type="button" onclick="alert('Hello world!')">ENQUIRY</button> </td>
      </tr>
      <tr>
      <td><img src="images/Himachal4.jpg"/></td>
      <td><b>Heavenly Himachal - Land Only </b> <hr> <br> Shimla (2N)→Manali (3N)→Chandigarh (1N) <hr>
        <br> Group Holidays <br>
        <div class="row">
          <div class="column">
            <img src="\Images\Highlights.png">
            Highlights
          </div>
          <div class="column">
            <img src="\Images\Hotel.png"><br>
            Hotels
          </div>
          <div class="column">
            <img src="\Images\Sight Seeing.png">
            Sightseeing
          </div>
          <div class="column">
            <img src="\Images\Meals.png"><br>
            Meals
          </div>
        </div>
      </td>
      <td style="text-align: center; vertical-align: middle;">6 Nights 7 Days</td>
      <td class="type"; style="text-align: center; vertical-align: middle;">Tour Type : Premium <br>Rs. 22 990<br>
        <a href="enq"><button type="button">ENQUIRY</button></a> </td>
      </tr>
      </thead>
      </table>
  </div>
</body>
</html>