<!DOCTYPE html>
<html lang='en'>
<head>
  <link rel="stylesheet" href="css/Lon.css">
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>TRIPZA</title>
</head>
<body>
  <!-- Load an icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">TRIPZA</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
    </ul>
    <form class="navbar-form navbar-left" action="/action_page.php">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" name="search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

  <h1>Lonavala Tour Packages</h1>
  <p style="text-align: justify;">Lonavala is a hill station surrounded by green valleys in western India near Mumbai. The Karla Caves and the Bhaja Caves are ancient Buddhist shrines carved out of the rock. They feature massive pillars and intricate relief sculptures. South of the Bhaja Caves sits the imposing Lohagad Fort, with its 4 gates. West of here is Bhushi Dam, where water overflows onto a set of steps during rainy season.</p>
  <div class = "all_packages_list" >
    <table class="tabletripza"; border="1">
      <thead >
      <tr style="visibility: collapse;" style="text-align: center; color: white;" bgcolor="#ED1C24">
      <th>Images</th>
      <th style="text-align: center;" class="column2">Lonavala Tour Packages</th>
      <th style="text-align: center;">No. of Days</th>
      <th style="text-align: center;">Price*</th>
      </tr>
      <tr>
      <td><img src="images/download.jpg"/></td>
      <td><b>
        Exciting Hills of Khandala</b> <hr><br> Thane → Lohagad Fort <hr>
        <br> Customized Holidays <br>
        <div class="row">
          <div class="column">
            <img src="\Images\Highlights.png">
             Highlights
          </div>
          <div class="column">
            <img src="\Images\Hotel.png"><br>
            Hotels
          </div>
          <div class="column">
            <img src="\Images\Sight Seeing.png">
            Sightseeing
          </div>
          <div class="column">
            <img src="\Images\Meals.png"><br>
            Meals
          </div>
        </div>
      </td>
      <td style="text-align: center; vertical-align: middle;">1 Night
        2 Days</td>
      <td class="type"; style="text-align: center; vertical-align: middle;">Tour Type : Standard <br> Rs. 8095<br>
        <a href="enq"><button type="button">ENQUIRY</button></a>
      </td>
      </tr>
      </thead>
      </table>
  </div>
</body>
</html>