<!DOCTYPE html>
<html lang='en'>
<head>
  <link rel="stylesheet" href="css/Mald.css">
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>TRIPZA</title>
</head>
<body>
  <!-- Load an icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">TRIPZA</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
    </ul>
    <form class="navbar-form navbar-left" action="/action_page.php">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" name="search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

  <h1>Maldives Tour Packages</h1>
  <p style="text-align: justify;">A sunny adventure awaits you on the coasts of Maldives. For an enthralling experience, make sure to follow the
    safety precautions. Carry a negative RT-PCR test report with QR code, tested at least 48 hours before departure. For hygiene purposes, you also get tested on arrival and return with quarantine measures regulated by the authorities at the hotel. An fun and exotic Maldives adventure awaits, whilst your safety is taken care of. </p>
  <div class = "all_packages_list" >
    <table class="tabletripza"; border="1">
      <thead >
      <tr style="visibility: collapse;" style="text-align: center; color: white;" bgcolor="#ED1C24">
      <th>Images</th>
      <th style="text-align: center;" class="column2">Maldives Tour Packages</th>
      <th style="text-align: center;">No. of Days</th>
      <th style="text-align: center;">Price*</th>
      </tr>
      <tr>
      <td><img src="images/Maldives-3.jpg"/></td>
      <td><b>Maldives Dhamaka</b> <hr><br> Male (4N) <hr>
        <br> Group Holidays <br>
        <div class="row">
          <div class="column">
            <img src="\Images\Highlights.png">
            Highlights
          </div>
          <div class="column">
            <img src="\Images\Hotel.png"><br>
            Hotels
          </div>
          <div class="column">
            <img src="\Images\Sight Seeing.png">
            Sightseeing
          </div>
          <div class="column">
            <img src="\Images\Meals.png"><br>
            Meals
          </div>
        </div>
      </td>
      <td style="text-align: center; vertical-align: middle;">4 Nights
        5 Days</td>
      <td class="type"; style="text-align: center; vertical-align: middle;">Tour Type : Deluxe <br> Rs. 79 466<br>
       <a href="enq"><button type="button">ENQUIRY</button></a>
      </td>
      </tr>
      <tr>
      <td><img src="images/Makunudu_Island_SRP.jpg"/></td>
      <td><b>Maldives - Crazy Deal - Makunudu Island Resort </b> <hr> <br> Male (4N) <hr>
        <br> Customized Holidays <br>
        <div class="row">
          <div class="column">
            <img src="\Images\Highlights.png">
            Highlights
          </div>
          <div class="column">
            <img src="\Images\Hotel.png"><br>
            Hotels
          </div>
          <div class="column">
            <img src="\Images\Sight Seeing.png">
            Sightseeing
          </div>
          <div class="column">
            <img src="\Images\Meals.png"><br>
            Meals
          </div>
        </div>
      </td>
      <td style="text-align: center; vertical-align: middle;">4 Nights
        5 Days</td>
      <td class="type"; style="text-align: center; vertical-align: middle;">Tour Type : Standard <br>Rs. 61 037<br>
        <a href="enq"><button type="button">ENQUIRY</button></a> </td>
      </tr>
      <tr>
      <td><img src="images/Maldives-7.jpg"/></td>
      <td><b>Maldives - Adaaran Club Rannalhi</b> <hr> <br> Male (4N) <hr>
        <br> Customized Holidays <br>
        <div class="row">
          <div class="column">
            <img src="\Images\Highlights.png">
            Highlights
          </div>
          <div class="column">
            <img src="\Images\Hotel.png"><br>
            Hotels
          </div>
          <div class="column">
            <img src="\Images\Sight Seeing.png">
            Sightseeing
          </div>
          <div class="column">
            <img src="\Images\Meals.png"><br>
            Meals
          </div>
        </div>
      </td>
      <td style="text-align: center; vertical-align: middle;">4 Nights
        5 Days</td>
      <td class="type"; style="text-align: center; vertical-align: middle;">Tour Type : Deluxe <br>88 609<br>
        <a href="enq"><button type="button">ENQUIRY</button></a> </td>
      </tr>
      </thead>
      </table>
  </div>
</body>
</html>