<!DOCTYPE html>
<html lang='en'>
<head>
  <link rel="stylesheet" href="css/Page.css">
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>TRIPZA</title>
</head>
<body>
  <!-- Load an icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-container ">
  <a href="#"; style="float:right" ><i class="fa fa-fw fa-user"></i> Login</a>
  <hr>
  <div class="navbar">
    <h2><b>TRIPZA</b></h2>
    <hr>
  </div>
</div>
<div class="wrapper">
  <input type ="text" class ="nav" placeholder="Search">
</div>
  <h1>Kashmir Tour Packages</h1>
  <p style="text-align: justify;">A land of untouched beauty, Kashmir is definitely a paradise on earth with its snow-capped mountains and scenic landscape. With an eclectic mix of tourist attractions comprising of beautiful gardens, lakes, valleys, and much more, Kashmir remains one of the most celebrated holiday destinations in the world. The lush green views of Aru Valley; the colourful series of houseboats and shikaras; the holy shrines of Jammu City; the deserted motorable road of Leh; and the tranquil ambience of Buddhist monasteries, Jammu and Kashmir is all about never-fading beauty and allure. There is no place in the state that is not blessed by Mother Nature.</p>
  <div class = "all_packages_list" >
    <table class="tabletripza";border="1";>
      <thead >
      <tr style="visibility: collapse;" style="text-align: center; color: white";bgcolor="#ED1C24">
      <th>Images</th>
      <th style="text-align: center;">Kashmir Tour Packages</th>
      <th style="text-align: center;">No. of Days</th>
      <th style="text-align: center;">Price*</th>
      </tr>
      <tr>
      <td><img src="images/vaishnodevi.jpg"/></td>
      <td><b>Grand Kashmir With Vaishno Devi</b> <hr><br> Katra (3N)→Pahalgam (2N)→Gulmarg (1N)→Srinagar (2N) <hr>
        <br> Group Holidays <br>
        <div class="row">
          <div class="column">
            <img src="images/Highlights.png">
            Highlights
          </div>
          <div class="column">
            <img src="images/Hotel.png"><br>
            Hotels
          </div>
          <div class="column">
            <img src="images/Sight Seeing.png">
            Sightseeing
          </div>
          <div class="column">
            <img src="images/Meals.png"><br>
            Meals
          </div>
        </div>
      </td>
      <td style="text-align: center; vertical-align: middle;">8 Nights 9 Days</td>
      <td class="type"; style="text-align: center; vertical-align: middle;">Tour Type : Deluxe <br> Rs. 54 990.00<br>
        <a href="enq"><button type="button">ENQUIRY</button></a> </td>
      </td>
      </tr>
      <tr>
      <td><img src="images/DallakeKashmir.jpg"/></td>
      <td><b>Exotic Kashmir</b> <hr> <br> Srinagar (1N)→Pahalgam (2N)→Gulmarg (1N)→Srinagar (2N) <hr>
        <br> Group Holidays <br>
        <div class="row">
          <div class="column">
            <img src="images/Highlights.png">
            Highlights
          </div>
          <div class="column">
            <img src="\images\Hotel.png"><br>
            Hotels
          </div>
          <div class="column">
            <img src="\images\Sight Seeing.png">
            Sightseeing
          </div>
          <div class="column">
            <img src="\images\Meals.png"><br>
            Meals
          </div>
        </div>
      </td>
      <td style="text-align: center; vertical-align: middle;">6 Nights 7 Days</td>
      <td class="type"; style="text-align: center; vertical-align: middle;">Tour Type : Standard <br>Rs. 40 990.00<br>
        <a href="enq"><button type="button">ENQUIRY</button></a> </td>
      </tr>
      <tr>
      <td><img src="images/Pahalgam (1).jpg"/></td>
      <td><b>Kashmir Bhuswargo Bhraman - Durga Puja Special</b> <hr> <br> Srinagar (1N)→Pahalgam (2N)→Gulmarg (1N)→Srinagar (2N) <hr>
        <br> Group Holidays <br>
        <div class="row">
          <div class="column">
            <img src="images/Highlights.png">
            Highlights
          </div>
          <div class="column">
            <img src="\images\Hotel.png"><br>
            Hotels
          </div>
          <div class="column">
            <img src="\images\Sight Seeing.png">
            Sightseeing
          </div>
          <div class="column">
            <img src="\images\Meals.png"><br>
            Meals
          </div>
        </div>
      </td>
      <td style="text-align: center; vertical-align: middle;">6 Nights 7 Days</td>
      <td class="type"; style="text-align: center; vertical-align: middle;">Tour Type : Standard <br>Rs. 21 990.00<br>
        <a href="enq"><button type="button">ENQUIRY</button></a> </td>
      </tr>
      <tr>
      <td><img src="images/i01_banner2.jpg"/></td>
      <td><b>Best Of Kashmir - Premium Holiday</b> <hr> <br> Srinagar (1N)→Pahalgam (2N)→Gulmarg (1N)→Srinagar (2N) <hr>
        <br> Group Holidays <br>
        <div class="row">
          <div class="column">
            <img src="images/Highlights.png">
            Highlights
          </div>
          <div class="column">
            <img src="\images\Hotel.png"><br>
            Hotels
          </div>
          <div class="column">
            <img src="\images\Sight Seeing.png">
            Sightseeing
          </div>
          <div class="column">
            <img src="\images\Meals.png"><br>
            Meals
          </div>
        </div>
      </td>
      <td style="text-align: center; vertical-align: middle;">6 Nights 7 Days</td>
      <td class="type"; style="text-align: center; vertical-align: middle;">Tour Type : Premium <br>Rs. 54 990.00<br>
        <a href="enq"><button type="button">ENQUIRY</button></a> </td> 
      </tr>
      <tr>
      <td><img src="images/Srinagar2.jpg"/></td>
      <td><b>Kashmir Luxury Retreat - Honeymoon Special</b> <hr> <br> Srinagar (1N)→Pahalgam (2N)→Gulmarg (1N)→Srinagar (2N) <hr>
        <br> Group Holidays <br>
        <div class="row">
          <div class="column">
            <img src="images/Highlights.png">
            Highlights
          </div>
          <div class="column">
            <img src="\images\Hotel.png"><br>
            Hotels
          </div>
          <div class="column">
            <img src="\images\Sight Seeing.png">
            Sightseeing
          </div>
          <div class="column">
            <img src="\images\Meals.png"><br>
            Meals
          </div>
        </div>
      </td>
      <td style="text-align: center; vertical-align: middle;">6 Nights 7 Days</td>
      <td class="type"; style="text-align: center; vertical-align: middle;">Tour Type : Deluxe <br>Rs. 63 900.00 Per Adult<br>
        <a href="enq"><button type="button">ENQUIRY</button></a> </td>
      </tr>
      </thead>
      </table>
  </div>
</body>
</html>