<!DOCTYPE html>
<html lang='en'>
<head>
  <link rel="stylesheet" href="css/switPage.css">
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>TRIPZA</title>
</head>
<body>
  <!-- Load an icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


  <!-- NAVBAR -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">TRIPZA</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
    </ul>
    <form class="navbar-form navbar-left" action="/action_page.php">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" name="search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
 


  <h1>Switzerland Tour Packages</h1>
  <p style="text-align: justify;">Enchanting mountain scenery, quaint medieval cities and pristine blue lakes - no wonder Switzerland is one of the
    most beautiful countries in the world. Explore the charming cities of Bern, Zurich, Lucerne and Geneva and let them enchant you. If adventure is your forte, nothing beats camping, skiing or hiking in the breathtaking Swiss countryside. Snuggly nestled between Germany, Austria, France, and Italy, Switzerland offers a heady dose of chocolates, cowbells and cable cars. You will be enchanted by the country’s affable nature and the main reason why hordes of visitors get enchanted by Switzerland.</p>
  <div class = "all_packages_list" >
    <table class="tabletripza"; border="1">
      <thead >
      <tr style="visibility: collapse;" style="text-align: center; color: white;" bgcolor="#ED1C24">
      <th>Images</th>
      <th style="text-align: center;" class="column2">Switzerland Tour Packages</th>
      <th style="text-align: center;">No. of Days</th>
      <th style="text-align: center;">Price*</th>
      </tr>
      <tr>
      <td><img src="images/Rhine-Falls-at-Schaffhausen-1.jpg"/></td>
      <td><b> Glimpses of Switzerland</b> <hr><br> Zurich (5N) <hr>
        <br> Group Holidays
        <div class="row">
          <div class="column">
            <img src="\Images\Highlights.png">
            Highlights
          </div>
          <div class="column">
            <img src="\Images\Hotel.png"><br>
            Hotels
          </div>
          <div class="column">
            <img src="\Images\Sight Seeing.png">
            Sightseeing
          </div>
          <div class="column">
            <img src="\Images\Meals.png"><br>
            Meals
          </div>
        </div>
      </td>
      <td style="text-align: center; vertical-align: middle;">5 Nights 6 Days</td>
      <td class="type"; style="text-align: center; vertical-align: middle;">Tour Type : Deluxe <br> Rs. 54 990.00<br>
        <a href="enq"><button type="button">ENQUIRY</button></a>
      </td>
      </tr>
      <tr>
      <td><img src="images/Interlake-3.jpg"/></td>
      <td><b> Best of Switzerland</b> <hr> <br> Zurich (1N)→Chateaux D’oex (3N)→Zurich (3N) <hr>
        <br> Group Holidays 
        <div class="row">
          <div class="column">
            <img src="\Images\Highlights.png">
            Highlights
          </div>
          <div class="column">
            <img src="\Images\Hotel.png"><br>
            Hotels
          </div>
          <div class="column">
            <img src="\Images\Sight Seeing.png">
            Sightseeing
          </div>
          <div class="column">
            <img src="\Images\Meals.png"><br>
            Meals
          </div>
        </div>
      </td>
      <td style="text-align: center; vertical-align: middle;">
        7 Nights
        8 Days</td>
      <td class="type"; style="text-align: center; vertical-align: middle;">Tour Type : Standard <br>Rs. 40 990.00<br>
        <a href="enq"><button type="button">ENQUIRY</button></a> </td>
      </tr>
      <tr>
      <td><img src="images/Engelberg.jpg"/></td>
      <td><b>
        Swiss Delights (5N)</b> <hr> <br> Engelberg (5N) <hr>
        <br> Customized Holidays 
        <div class="row">
          <div class="column">
            <img src="\Images\Highlights.png">
            Highlights
          </div>
          <div class="column">
            <img src="\Images\Hotel.png"><br>
            Hotels
          </div>
          <div class="column">
            <img src="\Images\Sight Seeing.png">
            Sightseeing
          </div>
          <div class="column">
            <img src="\Images\Meals.png"><br>
            Meals
          </div>
        </div>
      </td>
      <td style="text-align: center; vertical-align: middle;">5 Nights
        6 Days</td>
      <td class="type"; style="text-align: center; vertical-align: middle;">Tour Type : Standard <br>Rs. 21 990.00<br>
       <a href="enq"><button type="button">ENQUIRY</button></a> </td>
      </tr>
      <tr>
      <td><img src="images/Zurich-1.jpg"/></td>
      <td><b>
        Magical Swiss (6N)</b> <hr> <br> Engelberg (6N) <hr>
        <br> Customized Holidays <br>
        <div class="row">
          <div class="column">
            <img src="\Images\Highlights.png">
            Highlights
          </div>
          <div class="column">
            <img src="\Images\Hotel.png"><br>
            Hotels
          </div>
          <div class="column">
            <img src="\Images\Sight Seeing.png">
            Sightseeing
          </div>
          <div class="column">
            <img src="\Images\Meals.png"><br>
            Meals
          </div>
        </div>
      </td>
      <td style="text-align: center; vertical-align: middle;">6 Nights 7 Days</td>
      <td class="type"; style="text-align: center; vertical-align: middle;">Tour Type : Premium <br>Rs. 54 990.00<br>
        <a href="enq"><button type="button">ENQUIRY</button></a> </td>
      </tr>
      <tr>
      <td><img src="images/Paris-2.jpg"/></td>
      <td><b>Budget France Swiss Panorama</b> <hr> <br> Switzerland (5D)→Paris (2D) <hr>
        <br> Group Holidays 
        <div class="row">
          <div class="column">
            <img src="\Images\Highlights.png">
            Highlights
          </div>
           
          <div class="column">
            <img src="\Images\Sight Seeing.png">
            Sightseeing
          </div>
          <div class="column">
            <img src="\Images\Meals.png"><br>
            Meals
          </div>
        </div>
      </td>
      <td style="text-align: center; vertical-align: middle;">6 Nights 7 Days</td>
      <td class="type"; style="text-align: center; vertical-align: middle;">Tour Type : Deluxe <br>Rs. 63 900.00 <br>
       <a href="enq"><button type="button">ENQUIRY</button></a> </td>
      </tr>
      </thead>
      </table>
  </div>
</body>
</html>